.container {
  width: 600px;
  color: #314d3e;
  height: fit-content;
  position: relative;
}

.extras {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.extras img {
  width: 25%;
  height: auto;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo img {
  width: 12%;
}

.signInForm {
  width: 70%;
  position: relative;
  left: 94px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid #cfcece;
  border-radius: 6px;
  margin-top: 27px;
}

.signInForm p {
  font-size: 18px;
  font-weight: bold;
  color: #00bf63;
}

.input {
  width: 90%;
}

.input p {
  font-size: 16px;
  font-weight: 400;
}

.input input {
  width: 92%;
  padding: 10px 5px 10px 20px;
  border-radius: 8px;
  border: thin solid #d5cbcb;
}

.signInForm button {
  margin-top: 27px;
  margin-bottom: 27px;
  border: none;
  padding: 10px 45px;
  font-size: 14px;
  background: #00bf63;
  color: white;
  border-radius: 6px;
}

.loading{
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading img{
  width: 30%;
}

.signUpForm {
  width: 70%;
  position: relative;
  left: 94px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid #cfcece;
  border-radius: 6px;
  margin-top: 27px;
}

.signUpForm p {
  font-size: 18px;
  font-weight: bold;
  color: #00bf63;
}

.input {
  width: 90%;
}

.input p {
  font-size: 16px;
  font-weight: 400;
}

.input input {
  width: 92%;
  padding: 10px 5px 10px 20px;
  border-radius: 8px;
  border: thin solid #d5cbcb;
}

.signUpForm button {
  margin-top: 27px;
  margin-bottom: 27px;
  border: none;
  padding: 10px 45px;
  font-size: 14px;
  background: #00bf63;
  color: white;
  border-radius: 6px;
}

.sign_in,.sign_up{cursor: pointer;}

.show{
  display: flex !important;
}

.title {
  font-size: 19px;
  font-weight: bold;
  padding: 8px;
}

#addComments {
  border: none;
  font-size: 12px;
  padding: 10px 43px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #00bf63;
  color: white;
  border-radius: 17px;
}

.addUser {
  border: none;
  font-size: 12px;
  padding: 10px 43px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #00bf63;
  color: white;
  border-radius: 17px;
  display: none;
}


.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  display: none;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 24px !important;
}

.button_to_add{
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.bookmark-title {
  padding-left: 2px !important;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto !important;
  text-align: right !important;
}

.commentBox{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  background: #efefef !important;
  z-index: 50 !important;
  width: 400px !important;
  height: 330px !important;
  z-index: 99999 !important;
}

.commentArea{
  border: none !important;
  padding: 5% !important;
  width: 400px !important;
  height: 250px !important;
  font-size: 15px !important;
  border-bottom: thin solid #c7c1c1 !important;
  background: #f7f7f7 !important;
  outline: none !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  box-sizing: border-box !important;
}

.commentBox span{
  color: white !important;
  font-size: 1.5vw !important;
  font-weight: 600 !important;
  margin-bottom: 3vw !important;
}

.submit{
  background: green !important;
  color: white !important;
  border: none !important;
  position: relative !important;
  left: 261px !important;
  bottom: 10px !important;
  font-size: 13px !important;
  padding: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  margin-top: 10px !important;
  height: 40px !important;
  width: 120px !important;
}

.cancelComment{
  border: thin solid red !important;
  color: red !important;
  background: transparent !important;
  position: relative !important;
  top: 39px !important;
  left: 138px !important;
  font-size: 13px !important;
  padding: 0 !important;
  height: 40px !important;
  width: 100px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

button{
  cursor: pointer;
}

.commentContainer{
  background: #efefef;
  padding: 0;
  width: 400px;
  height: 380px;
}

.comments{
  width: 100%;
  overflow: scroll;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  justify-content: flex-start;
  height: 250px;
  padding: 29px 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.comment{
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 10px;
  border-radius: 19px;
  margin: 10px 0px 0px;
}

.commentReply {
  width: 80%;
  outline: none;
  padding: 10px 10px;
  border: thin solid #bbb9b9;
  border-radius: 15px;
  position: relative;
  left: 20px;
}

.buttons{
  width: 100%;
  background: #e1e1e1;
  margin: 10px 0 0 0;
  height: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 41px;
  box-sizing: border-box;
}

.button2{
  width: 100px;
  height: 37px;
  font-size: 15px;
  background: green;
  border: none;
  color: white;
}

.closeComment {
  margin-right: 15px;
  border: thin solid red !important;
  background: transparent !important;
  color: red !important;
  height: 35px;
  width: 100px;
}

.commentsContainer {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.commentInput {
  width: 90%;
  height: 45px;
  margin-left: 5px;
  margin-top: 11px;
  border: thin solid #d5d4d4;
  padding: 0 13px;
  border-radius: 10px;
}

.button1 {
  background: transparent;
  color: red;
  border: none;
  width: 100px;
  height: 37px;
  font-size: 15px;
}

p.username {
  width: 10%;
  text-align: center;
  font-weight: 800;
  background: white;
  height: 33px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

p.commentText {
  width: 90% !important;
  font-size: 14px !important;
  font-family: 'san-serif' !important;
  font-weight: 600 !important;
}

.tooltip{
  opacity: 1 !important;
}

p, button{
  font-family: 'san-serif';
}